sudo: false
cache: pip

language: python

python:
    - 3.7
    - 3.6
    - 3.5
    - 3.4
    - 3.3
    - 2.7

env:
  - TOXENV=py
  - TOXENV=docs
  - TOXENV=manifest

matrix:
    allow_failures:
        - python: 3.4
        - python: 3.3

before_install:
    - pip install codecov

install:
    - pip install tox

script:
    - tox

after_success:
    - tox -e coverage-report
    - codecov
