include *.rst

include .bumpversion.cfg
include .codecov.yml
include .coveragerc
include tox.ini

recursive-include tests *.py

include docs/Makefile
include docs/make.bat
include docs/requirements.txt
include docs/source/conf.py
recursive-include docs/source *.rst

recursive-exclude * .DS_Store
